
.class {
    display: flex;
    flex-direction: column;

    max-width: 500px;
    background-color: #4D4847;
    border-radius: 10px;

    color: #F4FFF8;
    margin-bottom: 10px;

    font-family: 'Barlow', sans-serif;
}

.name {
    margin-top: 10px;
}

.title {
    margin: 10px;
}

.description {
    margin: 10px;
    margin-bottom: 20px;
}